<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Basic</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
												<th>id</th>
												<th>Short name</th>
												<th>Long Name</th>
												<th>Calling Code</th>
												<th>ISO 2</th>
												<th>ccTLD</th>
												<th>UN Member</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>1</td><td>Afghanistan</td><td>Islamic Republic of Afghanistan</td><td>93</td><td>AF</td><td>.af</td><td>yes</td></tr>
											<tr><td>2</td><td>Aland Islands</td><td>Åland Islands</td><td>358</td><td>AX</td><td>.ax</td><td>no</td></tr>
											<tr><td>3</td><td>Albania</td><td>Republic of Albania</td><td>355</td><td>AL</td><td>.al</td><td>yes</td></tr>
											<tr><td>4</td><td>Algeria</td><td>People's Democratic Republic of Algeria</td><td>213</td><td>DZ</td><td>.dz</td><td>yes</td></tr>
											<tr><td>5</td><td>American Samoa</td><td>American Samoa</td><td>1+684</td><td>AS</td><td>.as</td><td>no</td></tr>
											<tr><td>6</td><td>Andorra</td><td>Principality of Andorra</td><td>376</td><td>AD</td><td>.ad</td><td>yes</td></tr>
											<tr><td>7</td><td>Angola</td><td>Republic of Angola</td><td>244</td><td>AO</td><td>.ao</td><td>yes</td></tr>
											<tr><td>8</td><td>Anguilla</td><td>Anguilla</td><td>1+264</td><td>AI</td><td>.ai</td><td>no</td></tr>
											<tr><td>9</td><td>Antarctica</td><td>Antarctica</td><td>672</td><td>AQ</td><td>.aq</td><td>no</td></tr>
											<tr><td>10</td><td>Antigua and Barbuda</td><td>Antigua and Barbuda</td><td>1+268</td><td>AG</td><td>.ag</td><td>yes</td></tr>
											<tr><td>11</td><td>Argentina</td><td>Argentine Republic</td><td>54</td><td>AR</td><td>.ar</td><td>yes</td></tr>
											<tr><td>12</td><td>Armenia</td><td>Republic of Armenia</td><td>374</td><td>AM</td><td>.am</td><td>yes</td></tr>
											<tr><td>13</td><td>Aruba</td><td>Aruba</td><td>297</td><td>AW</td><td>.aw</td><td>no</td></tr>
											<tr><td>14</td><td>Australia</td><td>Commonwealth of Australia</td><td>61</td><td>AU</td><td>.au</td><td>yes</td></tr>
											<tr><td>15</td><td>Austria</td><td>Republic of Austria</td><td>43</td><td>AT</td><td>.at</td><td>yes</td></tr>
											<tr><td>16</td><td>Azerbaijan</td><td>Republic of Azerbaijan</td><td>994</td><td>AZ</td><td>.az</td><td>yes</td></tr>
											<tr><td>17</td><td>Bahamas</td><td>Commonwealth of The Bahamas</td><td>1+242</td><td>BS</td><td>.bs</td><td>yes</td></tr>
											<tr><td>18</td><td>Bahrain</td><td>Kingdom of Bahrain</td><td>973</td><td>BH</td><td>.bh</td><td>yes</td></tr>
											<tr><td>19</td><td>Bangladesh</td><td>People's Republic of Bangladesh</td><td>880</td><td>BD</td><td>.bd</td><td>yes</td></tr>
											<tr><td>20</td><td>Barbados</td><td>Barbados</td><td>1+246</td><td>BB</td><td>.bb</td><td>yes</td></tr>
											<tr><td>21</td><td>Belarus</td><td>Republic of Belarus</td><td>375</td><td>BY</td><td>.by</td><td>yes</td></tr>
											<tr><td>22</td><td>Belgium</td><td>Kingdom of Belgium</td><td>32</td><td>BE</td><td>.be</td><td>yes</td></tr>
											<tr><td>23</td><td>Belize</td><td>Belize</td><td>501</td><td>BZ</td><td>.bz</td><td>yes</td></tr>
											<tr><td>24</td><td>Benin</td><td>Republic of Benin</td><td>229</td><td>BJ</td><td>.bj</td><td>yes</td></tr>
											<tr><td>25</td><td>Bermuda</td><td>Bermuda Islands</td><td>1+441</td><td>BM</td><td>.bm</td><td>no</td></tr>
											<tr><td>26</td><td>Bhutan</td><td>Kingdom of Bhutan</td><td>975</td><td>BT</td><td>.bt</td><td>yes</td></tr>
											<tr><td>27</td><td>Bolivia</td><td>Plurinational State of Bolivia</td><td>591</td><td>BO</td><td>.bo</td><td>yes</td></tr>
											<tr><td>28</td><td>Bonaire, Sint Eustatius and Saba</td><td>Bonaire, Sint Eustatius and Saba</td><td>599</td><td>BQ</td><td>.bq</td><td>no</td></tr>
											<tr><td>29</td><td>Bosnia and Herzegovina</td><td>Bosnia and Herzegovina</td><td>387</td><td>BA</td><td>.ba</td><td>yes</td></tr>
											<tr><td>30</td><td>Botswana</td><td>Republic of Botswana</td><td>267</td><td>BW</td><td>.bw</td><td>yes</td></tr>									
										</tbody>
									</table>
								</div>
							</div>
						</div>
